body {
    padding: 10px;
}

#passwordGenerator {
    width: 250px;
}

#passwordBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

#passwordOutput {
    width: 100%;
    box-sizing: border-box;
}

#lengthControl {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    width: 100%;
}

#lengthSlider {
    flex: 1;
}


#actionButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#actionButtons button {
    flex: 1;
}